@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -khtml-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transition-delay($delay) {
    -webkit-transition-delay: $delay;
    -moz-transition-delay: $delay;
    -o-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin transform($transformation) {
    -webkit-transform: $transformation;
    -moz-transform: $transformation;
    -o-transform: $transformation;
    -ms-transform: $transformation;
    transform: $transformation;
}

@mixin user-select($option) {
    -webkit-user-select: $option;
    -khtml-user-select: $option;
    -moz-user-select: $option;
    -ms-user-select: $option;
    user-select: $option;
}

html, body {
    position: relative;
    height: 100%;
    @include user-select(none);
}
body {
    background: url(../images/horror.gif) center/auto 100%;
}
* {
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    height: 100%;
    padding: 20px;
}

.game-grid {
    width: 495px;
    margin: auto;
    overflow: auto;
    @include transition(all .45s ease);
    ul {
        height: 100%;
        li {
            position: relative;
            float: left;
            padding: 10px;
            img {
                display: block;
                width: 100%;
                opacity: 0;
            }
            span {
                position: absolute;
                left: 10px;
                right: 10px;
                top: 10px;
                bottom: 10px;
                text-align: center;
                font-size: 800%;
            }
            .cover {
                cursor: pointer;
                background: gold;
                border: 5px solid darken(gold, 10%);
                @include transition(all 0.4s ease-out);
                @include transition-delay(0.4s);
                @include border-radius(10px);
                @include box-shadow(0 4px 7px rgba(0, 0, 0, 0.5));
            }
            .content {
                cursor: default;;
                text-shadow: 0 4px 7px black;
                @include transition(all 0.4s ease-in);
                @include transform(rotateX(-90deg));
                @include user-select(none);
            }
            &.free {
                .content {
                    background: url(../images/free.png) center/90% 102% no-repeat;
                }
            }
            &.granted {
                .cover {
                    display: none;
                }
                .content {
                    @include transform(rotateX(0) !important);
                }
            }
            &.chosen {
                .cover {
                    @include transform(rotateX(90deg));
                    @include transition(all 0.4s ease-in);
                    @include transition-delay(0s);
                }
                .content {
                    @include transform(rotateX(0deg));
                    @include transition(all 0.4s ease-out);
                    @include transition-delay(0.4s);
                }
            }
        }
    }
    &.easy {
        li {
            width: 33.333%;
            &:nth-child(3n + 1) {
                clear: left;
            }
        }
    }
    &.medium {
        li {
            width: 25%;
            &:nth-child(4n + 1) {
                clear: left;
            }
        }
    }
    &.hard {
        li {
            width: 20%;
            &:nth-child(5n + 1) {
                clear: left;
            }
        }
    }
    &.crazy {
        li {
            width: 16%;
            &:nth-child(6n + 1) {
                clear: left;
            }
        }
    }
    &.insane {
        li {
            width: 12%;
            &:nth-child(8n + 1) {
                clear: left;
            }
        }
    }
}

.game-screen {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    background: white;
    background: rgba(255, 255, 255, .989);
    box-shadow: 0 0 5px;
    border: 1px solid gold;
    opacity: 0;
    @include transition(opacity 2s ease-out);
    &.visible {
        opacity: 1;
    }
}

.splash {
    position: absolute;
    font-family: 'Architects Daughter';
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #16adec;
    background: rgba(22, 173, 236, .5);
    padding-top: 3%;
    @include box-shadow(inset 0 0 250px 20px darken(#16adec, 12%));
    @include user-select(none);
    img {
        max-width: 100%;
    }
    .game-logo {
        .hero {
            cursor: default;
            font-size: 1600%;
            position: absolute;
            top: 300px;
            width: 100%;
        }
    }
    .game-mode {
        position: absolute;
        width: 100%;
        height: 100%;
        top: -100%;
        background: yellow;
        background: rgba(255, 255, 0, 0.85);
        overflow: scroll;
        @include box-shadow(0 0 40px);
        h2 {
            position: relative;
            cursor: default;
            margin: 0;
            line-height: 2em;
            font-size: 60px;
            color: #16adec;
            text-shadow: 0 1px 2px black;
        }
        ul {
            width: 222%;
            height: 70%;
            li {
                position: relative;
                float: left;
                width: 20%;
                height: 100%;
                padding: 0 3%;
                div {
                    height: 100%;
                    background: #16adec;
                    @include border-radius(20px);
                    @include box-shadow(0 6px 20px -6px);
                    h3 {
                        cursor: default;
                        margin: 0;
                        padding-top: 40px;
                        font-size: 40px;
                        color: yellow;
                        text-shadow: 0 1px 1px black;
                        @include transition(color 0.175s ease);
                    }
                    .emoji {
                        cursor: default;
                        font-size: 1000%;
                        text-shadow: 0 -1px 4px black, 0 3px 6px white, 0 0 75px yellow;
                    }
                    .play {
                        cursor: pointer;
                        display: inline-block;
                        min-width: 210px;
                        height: 120px;
                        position: absolute;
                        right: 50px;
                        bottom: 0;
                        background: url(../images/play.gif);
                        @include border-radius(55px);
                        @include transition(all 0.7s ease);
                        &:hover {
                            @include transform(scale(0.8));
                            @include transform(translate(40px));
                        }
                    }
                    &:hover {
                        h3 {
                            color: #fff;
                        }
                    }
                }
            }
        }
        .banner {
            position: absolute;
            width: 222%;
            height: 10px;
            &.top {
                top: 2px;
                background: rgba(255,255,255,1);
                background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,204,1) 20%, rgba(255,255,0,0) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(20%, rgba(255,255,204,1)), color-stop(100%, rgba(255,255,0,0)));
                background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,204,1) 20%, rgba(255,255,0,0) 100%);
                background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,204,1) 20%, rgba(255,255,0,0) 100%);
                background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,204,1) 20%, rgba(255,255,0,0) 100%);
                background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,204,1) 20%, rgba(255,255,0,0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffff00', GradientType=1 );
                border-top: 1px solid white;
            }
            &.bottom {
                bottom: 2px;
                background: rgba(255,255,0,0);
                background: -moz-linear-gradient(left, rgba(255,255,0,0) 0%, rgba(255,255,204,1) 80%, rgba(255,255,255,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,0,0)), color-stop(80%, rgba(255,255,204,1)), color-stop(100%, rgba(255,255,255,1)));
                background: -webkit-linear-gradient(left, rgba(255,255,0,0) 0%, rgba(255,255,204,1) 80%, rgba(255,255,255,1) 100%);
                background: -o-linear-gradient(left, rgba(255,255,0,0) 0%, rgba(255,255,204,1) 80%, rgba(255,255,255,1) 100%);
                background: -ms-linear-gradient(left, rgba(255,255,0,0) 0%, rgba(255,255,204,1) 80%, rgba(255,255,255,1) 100%);
                background: linear-gradient(to right, rgba(255,255,0,0) 0%, rgba(255,255,204,1) 80%, rgba(255,255,255,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#ffffff', GradientType=1 );
                border-bottom: 1px solid white;
            }
        }
    }
    .game-start {
        position: absolute;
        width: 100%;
        bottom: 15%;
        img {
            cursor: pointer;
            @include transition(all 0.5s ease);
            &:hover {
                @include transform(scale(1.2));
            }
        }
    }
}
